<div id="page">
    <div class="topnav" id="myTopnav">
        <a href="" class="active">Home</a>
        <a href="/changes">Change log</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div id=content>
        <h1>Create your resume here!</h1>
        <p>On this page you can create your resume for free, just follow the creator. Your educations and experiences records will
            be reversed chronologically, that means latest activity will be on top. Due to ordering, date fields need to pass validation.
            Correct values are in format (yyyy-MM-dd) which stands for year-month-day. You can add up to three profiles.</p>
        <button class="button" routerLink="/personal">Click here!</button>
    </div>
</div>