<div id="main">
  <div id="heading">
    <div id="nav">
      <img style="float: left" src="assets/img/Logo.jpg" alt="Logo">
      <ul>
        <li class="menu">Templates</li>
        <li class="menu">Create Resume</li>
        <li class="login">Log in</li>
        <li class="login">Register</li>
      </ul>
    </div>
    <div id="langs">
      <img class="lang" src="assets/img/Flag_of_the_United_Kingdom.svg" alt="Flag of UK">
      <img class="lang" src="assets/img/Flag_of_Poland.svg" alt="Flag of Poland">
    </div>
  </div>
  <h1>Create your Resume for free here!</h1>
  <div id="textbox">
    <img class="resume-img" src="assets/img/resume-2296951_640.png" alt="Flag of UK">
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
      laborum."</p>
    <button class="button" routerLink="personal">Click here!</button>
  </div>
  <div class="footer">
    <p>Copyright 2020 &copy; Dawid Piątek</p>
  </div>
</div>
